body{
  background-image: url(../img/16245.jpg);
  background-size: cover;
}
div.jumbotron{
  background-image: url(../img/ladrillos.png);
}
section{.
  width: 100%;
  justify-content: center;
}
img.producto{
  width: 288px;
  height: 350px;
}

article{
  padding: 20px;
}


header{
  background-color: #F5B98A;
}
footer{
  margin: 0 auto;
  background-color: #494B4B;
  overflow: hidden;
  color: white;
  padding: 10px;
}
footer nav{
  4rem 2rem;
}
.nav-izq{
  float: left;
  width: 60%;
}
nav-izq-abajo{
  float: left;
  width: 55%;
}

.nav-der{
  float: right;
  width: 35%;
}

footer nav ul li{
  list-style-type: none;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  padding: 10px;
}
i {
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: white;
}

nav.nav-izq ul li a, nav.nav-izq-abajo ul li a {
  text-decoration: none;
  text-transform: none;
  color: white;
}
nav.navegacion-abajo{
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

nav.nav-der-abajo ul li a{
  display: inline;
  width: 30%;
float: center;}
