.row {
  background-color: #D2D8DF;
  width:20%;
  height: 100%;
  position:relative;
  left:80%;

  margin-color: black;

}

.clase {
  font-size: 40px;
  color: white;
  text-align: center;
}
.middle {
  background-color: #D2D8DF;
  width: 600px;
  position: relative;
  top: 100px;
  left: 700px;
  margin-color: black;
  float: right;
}
body{
  background-color: black;
}
